#app {
  min-height: 100vh;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
}

header {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

main {
  min-height: 100%;
}

.tabella {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.tabella h2 {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.form label {
  max-width: 500px;
}

.form input {
  margin-bottom: 20px;
  max-width: 500px;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  min-width: 40px;
  min-height: 30px;
}